.sudoku_board {
    display: grid;
    grid-template-columns: repeat(9, 9vh);
    grid-template-rows: repeat(9, 9vh);
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.new_btn{
    top: 30%;
    transform: translateY(-30%);
}

.solution_btn {
    top: 50%;
    transform: translateY(-50%);
}

.board_btn {
    position: absolute;
    border: 2px solid black;
    background-color: white;
    width: 25vh;
    height: 10vh;
    /* max-height: 8vh;  */
    font-weight: bold;
    color: black;   

    left: -55%;
    transform: translateX(55%);

}

.board_btn:hover {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .sudoku_board {
        grid-template-columns: repeat(9, 7vh);
        grid-template-rows: repeat(9, 7vh);
    }

    .new_btn{
        left: 57%;
        transform: translateX(-57%);  
    }
    
    .solution_btn {
        left: 5%;
        transform: translateX(-5%);  
    }
    
    .board_btn {
        width: 25vh;
        height: 10vh;
        border: 2px solid black;
        
        top: -25%;
        transform: translateY(25%);

    }
  }